- content_for :head do
  = javascript_include_tag "starrating.js"
  = stylesheet_link_tag "starrating.css"
  
  :javascript
    document.observe('dom:loaded', function() {
      $$("#starrating").each( function(list) {
      		new StarRating(list, {label_id: "rating-label", hidden_field_id: "hidden_test"});
      	});
    });
    
%ul#starrating
  %li{:label => "Test"}
    1
  %li{:label => "Excellent"}
    2
  %li
    3
  %li
    4
  %li
    5
%p#rating-label
%input{:type => "hidden", :id => "hidden_test"}
